.tooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background-color: lightslategray;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-family: Avenir;
}

#saigasection {
    background: #C5894D;
}

.sectionheader {
    padding-left:20%;
}

.responsive-image {
    position: relative;
    max-width: 100%;
  }
  
.img-fluid {
    width:100%;
}

#Timeline {
    background: #C5894D;
}

#WhyImportant {
    background: #F2E5D2;
}

.AnimationText {
    background: #F2E5D2;
}

.figure {
    background: #F2E5D2;
}

