.quickfacts {
    /* background:#E0C389; */
    padding-top: 60px;
}

#elephantsection {
    background: #E0C389;
}

.ivoryintro {
    background: #F2E5D2;
}

#whativory {
    font-weight: 500;
}

#yellowfrogsection {
    background: #AFB96E;
}

#saigasection {
    background: #C5894D;
}

.sectionheader {
    padding-left:20%;
}

.responsive-image {
    position: relative;
    max-width: 100%;
  }
  
.img-fluid {
    width:100%;
}

.animaltitlestyle {
    color: #F2E5D2;
    font-size: 120px;
}

/* .ivoryintroimg {
    position: relative;
      top: 0;
      left: 0;
} */

#whativory {
    padding-bottom: 5%;
}


.sourceicons {
    display: inline-block;
    margin:20px;
    width:15%;
    scale: 100%;
    transition: 500ms;
}

.sourceicons:hover {
    scale:120%;
}

.sources {
    height:100%;
    text-align: center;
}

.spacer {
    padding:5%;
}

#walrustext { display: none; }
#walrus:hover ~ #walrustext { display: block; }

#orcatext { display: none;}
#orca:hover ~ #orcatext { display:block; }

#narwhaltext { display: none;}
#narwhal:hover ~ #narwhaltext { display:block; }

#warthogtext { display: none;}
#warthog:hover ~ #warthogtext { display:block; }

#hippotext { display: none; }
#hippo:hover ~ #hippotext { display:block; }

