.quickfacts {
    /* background:#E0C389; */
    padding-top: 60px;
}

#elephantsection {
    background: #E0C389;
}

.ivoryintro {
    background: #F2E5D2;
}

.narrative {
    background:#F2E5D2
}

.pricesection {
    background:#F2E5D2
}

.whativory {
    font-weight: 500;
    padding-bottom: 5%;
}

#yellowfrogsection {
    background: #F6F8FA;
}

#saigasection {
    background: #C5894D;
}

.sectionheader {
    padding-left:20%;
}

.whativorytusks {
    position: relative;
    width: 50%;  }

.img-fluid {
    width:100%;
}

.img-team {
    width:100%;
}

.animaltitlestyle {
    color: rgb(145, 76, 76);
    font-size: 70px;
}

.texthl {
    color:#8B0E3A
}

/* .ivoryintroimg {
    position: relative;
      top: 0;
      left: 0;
} */

.timeline {
    position: relative;
    width:150%;
    left: -25%;
}
/* 
.timelineparent {
    display: block;
    text-align: center;
} */

#counter {
    display: block;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color:#8B0E3A;
}

#whativorybody {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
    
    #introskull {
    flex-basis: 20%;
    margin-right:5%;
    fill: #8B0E3A;
}

#introsub {
    flex-basis: 80%;
    margin-right:2.5%;
    margin-left:2.5%
}

.sourceicons {
    display: inline-block;
    margin:15px;
    width:15%;
    scale: 80%;
    filter: opacity(25%);
    filter: grayscale(100%);
    transition: 500ms;
}

.sourceicons:hover {
    filter: opacity(100%);
    filter: grayscale(0%);
    scale:100%;
}

#sourcesparent {
    height:100%
}

.sources {
    text-align: center;
}

.destinations {
    height:80%;
    text-align: center;
    display: inline-flex;
    flex-basis: content;
    align-items: center;
}

.destinations > * {
    padding-right:2%;
}

.destinationmaster {
    width:80%;
}

.spacer {
    padding:2%;
}


#walrustext { line-height:0em; opacity:0; -webkit-transition:all 0.5s ease-in-out;  
    -moz-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;}
#walrus:hover ~ #walrustext { line-height:1.2em; opacity:1; }

#orcatext { line-height:0em; opacity:0; -webkit-transition:all 0.5s ease-in-out;  
    -moz-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;}
#orca:hover ~ #orcatext { line-height:1.2em; opacity:1; }

#narwhaltext { line-height:0em; opacity:0; -webkit-transition:all 0.5s ease-in-out;  
    -moz-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;}
#narwhal:hover ~ #narwhaltext { line-height:1.2em; opacity:1; }

#warthogtext { line-height:0em; opacity:0; -webkit-transition:all 0.5s ease-in-out;  
    -moz-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;}
#warthog:hover ~ #warthogtext { line-height:1.2em; opacity:1; }

#hippotext { line-height:0em; opacity:0; -webkit-transition:all 0.5s ease-in-out;  
    -moz-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;}
#hippo:hover ~ #hippotext { line-height:1.2em; opacity:1;  }

#Ivoryprices-01_svg__Layer_1 > path:nth-child(9) {
    stroke-width: 4;
}

#DestinationsMaster_svg__Heli {
    animation: Ivoryprices-01_svg__Money 20s linear infinite;
    transform-origin:50% 48%;
}

#DestinationsMaster_svg__Rifle {
    animation: Ivoryprices-01_svg__Money 20s linear infinite;
    transform-origin:50% 48%;
}

#DestinationsMaster_svg__Pumpkin {
    animation: Ivoryprices-01_svg__Money 20s linear infinite;
    transform-origin:50% 48%;
}

/* #Ivoryprices-01_svg__Money {
    position: absolute;
    
  animation: Ivoryprices-01_svg__Money 7s linear infinite
} */

@keyframes Ivoryprices-01_svg__Money {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 

/* #DestinationsMaster_svg__Camb > path:nth-child(3){
    fill: #000000;;
} */

.tooltiptext {
    display: flex;
    flex-direction: column;
     flex-basis:40%;
    visibility: hidden;
    background-color: #F2E5D2;
    color: #000000;
    text-align: left;
    padding: 30px;
    border-radius: 6px;
    position: relative;
    right:0%;
    height:auto;
    z-index: 1;
  }

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #F2E5D2 transparent transparent;
  }
  
  .destinations:hover .tooltiptext {
    visibility: visible;
  }