.tooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background-color: lightslategray;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-family: Avenir;
}

/* Quick facts */
#saigasection {
    background: #C5894D;
}

.sectionheader {
    padding-left:20%;
}

.responsive-image {
    position: relative;
    max-width: 100%;
  }
  
.img-fluid {
    width:100%;
}

#saigabackground {
    background: #a29c7f
}

/* Intro */
#Intro {
        background: #F2E5D2;
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
        color: #C5894D;
        text-align: center;
}

#intrographics {
        margin: 20px;
        background: #F2E5D2;
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
}
/* Timeline */
#Timeline {
    background: #C5894D;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    color: #F2E5D2;
    text-align: center;
}
/* Animation */
#WhyImportant {
    background: #F2E5D2;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    color: #C5894D;
    text-align: center;
}

.AnimationText {
    background: #F2E5D2;
}

.figure {
    background: #F2E5D2;
}


/* Secondary drivers */
#secondarydriversheading {
    background: #C5894D;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    color: #F2E5D2;
}

.secondarydriversicons {
    height:100%;
    text-align: center;
    background: #C5894D;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.spacer {
    padding:5%;
}

.drivericons {
    display: inline-block;
    margin:20px;
    width:15%;
    scale: 100%;
    transition: 500ms;
}

.drivericons:hover {
    scale:100%;
}

#furtext { display: none; }
#fur:hover ~ #furtext { display: block; }

#migrationtext { display: none;}
#migration:hover ~ #migrationtext { display:block; }

#gendertext { display: none;}
#gender:hover ~ #gendertext { display:block; }

#susceptibletext { display: none;}
#susceptible:hover ~ #susceptibletext { display:block; }

#fighttext { display: none; }
#fight:hover ~ #fighttext { display:block; }

/* Future */
#Future {
    background: #F2E5D2;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    color: #C5894D;
    text-align: center;
}
